<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

    {{> navbar}}

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur totam, soluta illo tempora, atque,
        distinctio inventore culpa provident adipisci recusandae minus nam? Omnis dolor ad voluptate doloremque officia
        non quae!</p>

    {{> footer}}

    {{> scripts}}

</body>

</html>